@property --rotate {
	syntax: '<angle>';
	initial-value: 132deg;
	inherits: false;
}

:root {
	--landscape-card-width: 50vw;
	--landscape-card-height: calc(var(--landscape-card-width) * 0.5);
	--portrait-card-width: 80vw;
	--portrait-card-height: 80vh;
}

.card {
	background: #7fd8a7;
	padding: 3px;
	position: relative;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	font-size: 2em;
	color: rgb(88 199 250 / 0%);
	cursor: pointer;
}
@media (orientation: landscape) {
	.card,
	.card-dimensions {
		width: var(--landscape-card-width);
		height: var(--landscape-card-height);
	}
}

@media (orientation: portrait) {
	.card,
	.card-dimensions {
		width: var(--portrait-card-width);
		height: var(--portrait-card-height);
	}
}

.card:hover {
	cursor: pointer;
}
.card:hover:before,
.card:hover:after {
	animation: none;
	opacity: 0.5;
}

.hover-1:hover {
	color: rgb(97, 48, 139);
	transition: color 1s;
}

.hover-2:hover {
	color: rgb(56, 189, 248);
	transition: color 1s;
}

.hover-3:hover {
	color: whitesmoke;
	transition: color 1s;
}

.hover-4:hover {
	color: darkorange;
	transition: color 1s;
}

.hover-5:hover {
	color: violet;
	transition: color 1s;
}

.hover-6:hover {
	color: #635bff;
	transition: color 1s;
}

@media (orientation: portrait) {
	.hover-1 {
		color: rgb(97, 48, 139);
		transition: color 1s;
	}
	.hover-2 {
		color: rgb(56, 189, 248);
		transition: color 1s;
	}
	.hover-3 {
		color: whitesmoke;
		transition: color 1s;
	}
	.hover-4 {
		color: darkorange;
		transition: color 1s;
	}
	.hover-5 {
		color: violet;
		transition: color 1s;
	}
	.hover-6 {
		color: #635bff;
		transition: color 1s;
	}
}

.card::before {
	content: '';
	width: 104%;
	height: 102%;
	border-radius: 8px;
	background-image: linear-gradient(
		var(--rotate),
		#5ddcff,
		#3c67e3 43%,
		#4e00c2
	);
	position: absolute;
	z-index: -1;
	top: -1%;
	left: -2%;
	animation: spin 2.5s linear infinite;
}

.card::after {
	position: absolute;
	content: '';
	top: calc(var(--card-height) / 6);
	left: 0;
	right: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	transform: scale(0.8);
	filter: blur(calc(var(--card-height) / 6));
	background-image: linear-gradient(
		var(--rotate),
		#5ddcff,
		#3c67e3 43%,
		#4e00c2
	);
	opacity: 1;
	transition: opacity 0.5s;
	animation: spin 2.5s linear infinite;
}

@keyframes spin {
	0% {
		--rotate: 0deg;
	}
	100% {
		--rotate: 360deg;
	}
}

a {
	color: #212534;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
	margin-top: 2rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
