@tailwind base;
@tailwind components;
@tailwind utilities;




/* Scrollbar styles */
::-webkit-scrollbar {
width: 8px;
height: 8px;
}

::-webkit-scrollbar-track {
background: #511f5a;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #ac617c;  
}

::-webkit-scrollbar-thumb:hover {
background: #c69c6d;  
}